$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

$fancy-font: "Playfair Display SC", serif;

$main-font: "Scheherazade New", serif;

$main-font-size: 20px;

$fancy-font-color: #832232;
