/* This is an example of how to import a partial scss file*/
@import '_variables';

body {
  background: $primary-background;
}

.bookings-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipe {
  border: 2px solid black;
  margin: 10px;
}
