/* This is an example of how to import a partial scss file*/
@import '_variables';

body {
  background: $primary-background;
}

header {
  display: flex;
  justify-content: center;
}

nav {
    display: flex;
    justify-content: flex-end;
}
.js-booking-card, .js-available-rooms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.booking, .room {
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  color: black;
  border: none;
  margin: 10px;
  cursor: pointer;
  box-shadow: 55px;
}

.booking:hover {
  box-shadow: 25%;
}

.hidden {
  display: none;
}
