/* This is an example of how to import a partial scss file*/
@import '_variables';

* {
  font-family: $main-font;
  font-size: $main-font-size;
}

body {
  // background: #717744;
  background: url(../images/floralprintbackground.png);
}

h1, h2 {
  font-family: $fancy-font;
  color: $fancy-font-color;
  font-size: 50px;
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.95);
}

header {
  display: flex;
  justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

form, .js-return-to-dashboard, .js-user-dashboard, .js-total-spent {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-self: center;
}

.js-booking-card, .js-available-rooms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

nav, article {
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.95);
  color: black;
  border: none;
  margin: 10px;
  box-shadow: 55px;
  font-size: 25px;
}

.js-return-to-dashboard, #datebtn {
  box-shadow: none;
  background-color: white;
  height: 31px;
  cursor: pointer;
  border: none;

}

.hidden {
  display: none;
}

h2 {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 30px;
}
